*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
p{
  margin: 0px;
}
h2{
  text-align: center;
  font-size: 36px;
  margin: 0px;
  padding: 25px;
}
h3{
  font-size: 28px;
  font-weight: 300;
  margin: 0px;
  padding: 5px 15px 5px 0px;
}
.col-1{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.intro{
  height: 100vh;
  width: 100vw;
  background-image: url(/images/clouds-fog-forest-9754.jpg);

  background-attachment: fixed;
}
.intro-container{
  position: relative;
  top: 20vh;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
.intro-container > p{
  font-size: 28px;
}
.scroll-arrow{
  position: relative;
  left: 50vw;
  color: rgb(99, 99, 99);
}
.name{
  font-size: 52px;
}
.profile-links-container{
  display: flex;
  position: relative;
  width: 100%;
  top: 150px;
  justify-content: center;
}
.button{
  margin: 15px;
  color: rgb(102, 101, 101);
}
.button > span{
  font-size: 26px;
  border-left: 1px solid black;
  padding-left: 5px; 
  margin: 5px;
}
.projects{
  box-shadow: 0 2px 6px 2px rgb(54, 57, 73);
}
.project{
  margin-bottom: 60px;
}
.projects-sub-header{
  border-bottom: 3px solid grey;
}
a{
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}
.project-summary{
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 150px;
  margin-bottom: 75px;
}
.stack-description{
  display: grid;
  height: 200px;
  width: 40%;
  grid-template-columns: 33.33fr 33.33fr 33.33fr;
  grid-template-rows: repeat(6, 33.33fr);
  margin: 15px 15px 0px 15px;
}
.stack-description > h4{
  grid-column: 1 / 4;
  font-weight: 300;
  margin: 0px;
}
.stack-description > p{
  color: grey;
}
.project-description{
  display: inline-block;
  width: 55%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  color: black;
}
.project-image{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  box-shadow: 4px 4px 8px rgba(1, 0, 58, 0.425);
  transition-property: left, top 2s;
  transition-timing-function: linear;
}
.project-image:hover{
  /* box-shadow: 0 0 8px 2px rgb(40, 223, 247); */
  left: 5px;
  top: 5px;
}
.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 0 2px 8px 0px rgb(54, 57, 73); */
  box-shadow:inset 0 15px 5px -14px #111;
  background-image: linear-gradient(#0004285b,  #004e926c), url(./images/clouds-cold-dark-540518.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.skills > h2, p{
  color: white;
}
.skills-container{
  display: grid;
  grid-template-columns: 10fr 40fr 50fr;
  background-color: rgba(87, 87, 87, 0.9);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  width: 75%;
  max-height: 200px;
}
.skills-icon{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}
.skills-header{
  grid-column: 2 / 3;
  margin: 15px;
  padding: 0px;
  font-size: 24px;
  color: white;
}
.skills-list{
  display: grid;
  grid-template-columns: repeat(3, 33.33fr);
  grid-template-rows: 50fr 50fr;
  grid-column: 3 / 4;
}
.skills-list-unique{
  display: grid;
  grid-template-columns: repeat(2, 50fr);
  grid-template-rows: repeat(2, 50fr);
  grid-column: 3 / 4;
}
.skills-list-unique > p{
  justify-self: center;
}
.bio{
  margin-bottom: 50px;
}
.bio-description{
  color: black;
  padding: 10px;
  border-left: 1px solid grey;
  font-size: 22px;
}
.footer{
  background-color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.footer-icon{
  display: inline-block;
  margin: 2.5px;
}
.footer-text{
  display: inline-block;
}