*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
p{
  margin: 0px;
}
h2{
  text-align: center;
  font-size: 36px;
  margin: 0px;
  padding: 25px;
}
h3{
  font-size: 28px;
  font-weight: 300;
  margin: 0px;
  padding: 60px 15px 5px 0px;
}
.col-1{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.intro{
  height: 100vh;
  width: 100vw;
  background-image: url(/images/clouds-fog-forest-9754.jpg);

  background-attachment: fixed;
}
.intro-container{
  position: relative;
  top: 20vh;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
.intro-container > p{
  font-size: 28px;
}
.scroll-arrow{
  position: relative;
  left: 50vw;
  color: rgb(99, 99, 99);
}
.name{
  font-size: 52px;
}
.profile-links-container{
  display: flex;
  position: relative;
  width: 100%;
  top: 150px;
  justify-content: center;
}
.button{
  margin: 15px;
  color: rgb(192, 192, 192);
}
.button > span{
  font-size: 26px;
  border-left: 1px solid black;
  padding-left: 5px; 
  margin: 5px;
}
.projects{
  box-shadow: 0 2px 8px 0px rgb(54, 57, 73);
}
.projects-sub-header{
  border-bottom: 3px solid grey;
}
a{
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}
.project-summary{
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 150px;
  margin-bottom: 75px;
}
.stack-description{
  display: grid;
  height: 200px;
  width: 40%;
  grid-template-columns: 33.33fr 33.33fr 33.33fr;
  grid-template-rows: repeat(6, 33.33fr);
  margin: 15px 15px 0px 15px;
}
.stack-description > h4{
  grid-column: 1 / 4;
  font-weight: 300;
  margin: 0px;
}
.stack-description > p{
  color: grey;
}
.project-description{
  display: inline-block;
  width: 55%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}
.project-image{
  display: block;
  width: 100%;
  height: auto;
}
.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  background-image: linear-gradient(#0004285b,  #004e926c), url(./images/clouds-cold-dark-540518.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.skills > h2, h3, p{
  color: white;
}
.skill-container{
  width: 75%;
}
.footer{
  background-color: grey;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}